<h1>User詳細画面（<%= @user.name %>）</h1>

<table class="table">
  <thead>
    <td>name</td>
    <td>email</td>
    <td></td>
  </thead>
  <tbody>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <% if @user == current_user %>
        <td><%= link_to "編集", edit_user_path(@user), class:"btn btn-info" %></td>
      <% end %>
  </tbody>
</table>

<%= link_to "戻る", users_path %>