<h1>User詳細画面（<%= @user.name %>）</h1>

<table class="table">
  <thead>
    <td>name</td>
    <td>email</td>
    <td></td>
  </thead>
  <tbody>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <% if @user == current_user %>
        <td><%= link_to "編集", edit_user_path(@user), class:"btn btn-info" %></td>
      <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <%= link_to room_path(@roomId) do %>
        <button id="dm_submit"><i class="fas fa-envelope"></i></button>
      <% end %>
    <% else %>
      <%= form_for @room, url: rooms_path do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <button type="submit" id="dm_submit"><i class="fas fa-envelope"></i></button>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "戻る", users_path %>