<h1>Book一覧画面</h1>

<h3 align="right"><%= link_to "投稿画面へ", new_book_path, class:"btn btn-success" %></h3>
<table class="table">
  <thead>
    <td>Title</td>
    <td>Body</td>
    <td>price</td>
    <td></td>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= book.price %></td>
    <div class="relative-post-evaluation">
      <span>評価：</span>
      <span id="star-rate-<%= post.id %>"></span>
      <script>
        $('#star-rate-<%= post.id %>').raty({
          size: 36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,   # 星半分表示
          readOnly: true,   # 読み取り専用
          score: <%= post.evaluation %>,   # 星評価の表示
        });
      </script>
      <%= post.evaluation %>
    </div>
    <td><%= link_to "詳細", book_path(book), class:"btn btn-info" %></td>
  </tbody>
  <% end %>
</table>