<h1>Book一覧画面</h1>

<h3 align="right"><%= link_to "投稿画面へ", new_book_path, class:"btn btn-success" %></h3>
<table class="table">
  <thead>
    <td>Title</td>
    <td>Body</td>
    <td>price</td>
    <td></td>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= book.price %></td>
    <td><%= link_to "詳細", book_path(book), class:"btn btn-info" %></td>
  </tbody>
  <% end %>
</table>