<h1>Book投稿画面</h1>

<%= form_with model:@book, local:true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.submit "投稿" %>

<% end %>
