<h1>Book投稿画面</h1>

<%= form_with model:@book, local:true do |f| %>
  <table class="table">
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :body %></td>
      <td><%= f.text_area :body %></td>
    </tr>
    <tr>
      <td><%= f.label :price %></td>
      <td><%= f.number_field :price %></td>
    </tr>
    <div class="field" id="star">
      <%= f.label :evaluation, "星評価：" %>
      <%= f.hidden_field :evaluation, id: :review_star %>
      <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[evaluation]',   # evaluationカラムへの保存
          half: true,   # 星半分の入力
        });
      </script>
    </div>
    <tr>
      <td></td>
      <td><%= f.submit "投稿" , class:"btn btn-info" %></td>
    </tr>
  </table>
<% end %>
