<% if user_signed_in? %>
  <header>
    <nav class="navbar">
        <a class="nav-item">ようこそ!! <%= current_user.name %>さん</a>
        <a class="nav-item"><%= link_to 'book一覧', books_path %></a>
        <a class="nav-item"><%= link_to 'ユーザー', users_path %></a>
        <a class="nav-item"><%= link_to 'マイページ', user_path(current_user.id) %></a>
        <a class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a>
    </nav>
  </header>
  <% else %>
  <header>
      <nav class="navbar">
          <a><%= link_to 'book一覧', books_path %></a>
          <a><%= link_to 'ユーザー', users_path %></a>
          <a><%= link_to '新規登録', new_user_registration_path %></a>
          <a><%= link_to 'ログイン', new_user_session_path %></a>
      </nav>
  </header>
<% end %>